* {
  font-family: Arial, Helvetica, monospace;
  font-family: Titillium, monospace;
  box-sizing: border-box;
}

html.device {
  height: 100%;
}

html, body {
  padding: 0px;
}

body {
  margin: 0px 40px;
}

body.device {
  overflow: auto;
  height: 100%;
  margin: 0px 0px;
}

.log-container {
  background-color: #eeeeee;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
}

.info-log {
}

.log-item-info .log-item-header {
  color: #44aa44;
}

.log-item-error .log-item-header {
  color: #aa8844;
}

.log-item-body {
  color: #bbbb55;
}

#current-step {
    color: #00ee00;
}

#current-step.waiting {
    color: #aa0000;
}

button {
  padding: 10px 20px;
  margin: 10px;
  width: 120px;
  background-color: black;
  color: white;
  border: none;
}

button#previous, button#next {
  background-color: #2222aa;
  /*color: black;*/
}

.debug {
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
}
